on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            await core.summary
              .addImage('https://octodex.github.com/images/minion.png', 'GitHub Octocat Minion', {width: '200', height: '200'})
              .write();