# Merge pull request when label is added
name: On PR Label Merge

on:
  pull_request:
    branches: [ "main" ]
    types: [ labeled ] # On pull request labeled

jobs:
  merge:
    runs-on: ubuntu-latest
    if: |
      github.event.label.name == 'Merge' ||
      github.event.label.name == 'merge'
    steps:
      - uses: actions/checkout@v5
      - run: gh pr merge ${{ github.event.pull_request.number }} --rebase --auto
        env:
          GH_TOKEN: ${{ secrets.AUSTEN_PAT }}
