name: Only on comment

on:
  issue_comment:                                     
    types: [ created ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run a one-line script
        if: contains(github.event.comment.body, 'run jest-tests')
        run: echo Hello, world!
