name: Retry failed jobs

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: exit $((RANDOM % 2))
      - run: gh workflow run retry.yml --repo austenstone/.github -f run_id=$GITHUB_RUN_ID
        if: failure()
        env:
            GITHUB_TOKEN: ${{ secrets.AUSTEN_PAT }}
            GITHUB_RUN_ID: ${{ github.run_id }}